@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../themes.googleusercontent.com/static/fonts/lato/v7/nQhiC-wSiJx0pvEuJl8d8A.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/lato/v7/nQhiC-wSiJx0pvEuJl8d8A.eot*/);
  src: local('Lato Regular'), local('Lato-Regular'), url("../themes.googleusercontent.com/static/fonts/lato/v7/nQhiC-wSiJx0pvEuJl8d8A.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/lato/v7/nQhiC-wSiJx0pvEuJl8d8A.eot*/) format('embedded-opentype'), url("../themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff"/*tpa=http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff*/) format('woff');
}
