@import 'variables';

*{
  outline: none;
}
a:focus,  input:focus, input:hover {
  text-decoration: none;
  color: inherit; 
}
body {
  overflow-x: hidden !important;
}

.head-bottom {
  background-color: rgb(13, 13, 13);
}

.head {
  padding: 26px 0;
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
}

body {
  background: url(../images/overlay.png) repeat;
  position: relative;
}
.align-items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}




.head-img {
  position: relative;
  text-align: center;
  &:before {
    content: "";
    background: url('../images/head-before.png')no-repeat;
    width: 324px;
    height: 247px;
    position: absolute;
    left: 10%;
    top: 95px;
  }
  &:after {
    content: "";
    background: url('../images/head-after.png')no-repeat;
    width: 320px;
    height: 251px;
    position: absolute;
    right: 10%;
    top: 15px;
  }
  img {
    width: 100%;
    max-width: 786px;
  }
}

.head-overlay {
    background-image: linear-gradient(to top, black 0%, transparent 100%);
  width: 100%;
  min-height: 573px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  &.footer {
        background-image: linear-gradient(to top,#000 0,transparent 170%);
  }
  &:before {
    content: "";
    width: 100%;
    height: 573px;
  background-image: linear-gradient(to top, rgba(59, 111, 169, 0.6) 0%, transparent 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.head-text {
  position: absolute;
  bottom: 111px;
  left: 0;
  text-align: center;
  z-index: 3;
  width: 100%;
}

.head-title {
  color: white;
  font-family: Souses;
  font-size: 42px;
  font-weight: 400;
  line-height: 72px;
}

.head-info {
  color: white;
font-family: ProximaNova-L;
font-size: 30px;
font-weight: 400;
line-height: 34px;
  font-style: italic;
  span {
    position: relative;
    &:before {
      content: "";
      border-top: 1px solid rgb(255, 121, 31);
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -0.5px;
      left: 0;
    }
    span {
      position: absolute;
      width: 133px;
      top: -14px;
      left: 50%;
      margin-left: -66.5px;
      color: rgb(249, 250, 251);
      font-family: ProximaNova-L;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      &:before {
        display: none;
      }
    }
  }
}

.head-speaker {
  font-family: ProximaNova-B;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  span {
    font-family: Souses;
    font-size: 24px;
    font-weight: 400;
  }
}

.head-date {
  background: url(../images/date-bg.png) no-repeat center;
  width: 100%;
  height: 100px;
  padding: 15px 0;
    position: relative;
    z-index: 3;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  max-width: 970px;
  margin: -80px auto 0;
  border-radius: 10px;
}

.date-calend {
  display: inline-block;
  background: url('../images/265683.png') no-repeat center;
  background-size: 100%;
  color: rgb(77, 122, 175);
  font-family: Souses;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
  width: 94px;
  height: 85px;
  margin: 0 0px 0 60px;
  line-height: 2;
}

.calend-info {
  max-width: 85px;
  color: white;
  font-family: ProximaNova-B;
  font-size: 18px;
  font-weight: 900;
  display: inline-block;
}

.date-box {
  text-align: center;
  h4 {
    color: white;
    font-family: ProximaNova-B;
    font-size: 23px;
    font-weight: 900;
    margin: 0;
  }
  p {
    color: white;
    font-family: ProximaNova-B;
    font-size: 23px;
    font-weight: 900;
    padding: 0px 35px 0px 16px;
    position: relative;
    background-color: rgb(59, 111, 169);
    border-radius: 15px;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.2);
    display: inline-block;
    &:before {
      content: "";
      width: 14px;
      height: 14px;
      background-color: rgb(255, 56, 36);
      box-shadow: 0 7px 13px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -7px;
    }
  }
}

.registr-btn {
  color: white;
  font-family: ProximaNova-B;
  font-size: 18px;
  font-weight: 900;
  background-color: rgb(255, 121, 31);
  background-image: linear-gradient(to top, rgb(255, 100, 31) 0%, rgb(255, 121, 31) 100%);
  border-radius: 25px;
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 13px 22px;
  color: #fff;
  line-height: 1;
  display: inline-block;
  border: 1px solid transparent;
      -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
  &.bounce:hover {
    animation: bounce 0s;
  }
  &:hover {
    text-decoration: none;
    background: transparent;
     border: 1px solid rgb(255, 121, 31);
    color: rgb(255, 121, 31);
    
  }
}

.throne {
  padding: 112px 0 60px;
  text-align: center;
}

.throne-title {
  max-width: 522px;
font-family: Souses;
font-size: 42px;
font-weight: 400;
  margin: 0 0 0 17px;
  text-align: left;
  color: rgb(59, 111, 169);
  line-height: 1;
  span {
    color: rgb(76, 217, 100);
  }
}

.throne-list {
  padding: 0;
  margin: 0;
  list-style: none;
  background: url('../images/line-list.png') no-repeat  center;
  max-width: 740px;
  width: 100%;
  min-height: 559px;
  display: inline-block;
  margin-top: -45px;
  margin-bottom: -60px;
  position: relative;
  z-index: 1;
  li {
    background-color: rgb(59, 111, 169);
    background-image: linear-gradient(to right, rgb(76, 217, 100) 0%, rgb(59, 111, 169) 100%);
    color: white;
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    padding-left: 15px;
    padding-right: 15px;
    &:nth-child(1) {
      width: 140px;
      height: 140px;
      padding-top: 46px;
      padding-left: 0;
    padding-right: 0;
      position: absolute;
      left: 109px;
      top: 107px;
    }
    &:nth-child(2) {
      width: 167px;
      height: 167px;
      padding-top: 50px;
      position: absolute;
      top: 75px;
      left: 348px;
    }
    &:nth-child(3) {
      width: 141px;
      height: 141px;
      padding-top: 35px;
      position: absolute;
      right: 100px;
      top: -70px;
    }
    &:nth-child(4) {
      width: 174px;
      height: 174px;
      padding-top: 41px;
      position: absolute;
      top: 160px;
      right: -41px;
    }
    &:nth-child(5) {
      width: 143px;
      height: 143px;
      padding-top: 37px;
      position: absolute;
      bottom: 95px;
      right: 238px;
    }
  }
}

.throne-img {
  position: relative;
}

.throne-info {
  background: url('../images/tron-circle.png');
  width: 350px;
  height: 350px;
  padding: 85px 31px 0 38px;
  position: absolute;
  top: 21px;
  right: 170px;
  z-index: 5;
  h3 {
    text-shadow: 0 0 87px rgba(1, 0, 0, 0.68);
    color: white;
    font-family: Souses;
    font-size: 42px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 26px;
    text-align: left;
    span {
      display: block;
      text-align: right;
    }
    
  }
  p {
    color: white;
    font-family: ProximaNova-B;
    font-size: 30px;
    font-weight: 900;
    text-align: right;
    margin-bottom: 0;
    line-height: 1;
    &.mr43 {
      margin-right: 43px;
    }
    &.mr128 {
      margin-right: 128px;
    }
  }
}

.what-you {
  padding: 60px 0;
}

.what-you-title {
    max-width: 458px;
  color: rgb(59, 111, 169);
  font-family: Souses;
  font-size: 42px;
  font-weight: 400;
  margin: 0 auto;
  line-height: 1;
  margin-bottom: 34px;
  span {
    display: block;
    text-align: right;
  }
}

.what-you-block {
  max-width: 875px;
  margin: 0 auto;
  .col-md-5 {
    padding: 0;
  }
}

.what-you-box {
//  max-width: 464px;
  h4 {
    color: rgb(73, 202, 111);
    font-family: ProximaNova-B;
    font-size: 24px;
    font-weight: 900;
    margin: 0 auto 34px;
    line-height: 1
  }
  p {
    color: black;
    font-family: ProximaNova-L;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1;
  }
  &.text-right {
    margin-left: auto;
  }
}

.text-right {
  text-align: right;
}
.wake {
    min-height: 707px;
    background-color: #bfe4f6;
    border-radius: 10px;
    position: relative;
  max-width: 970px;
  margin: 0 auto;
  .head-date {
    margin-top: 0;
    bottom: -25px;

  }
}

.wake-block {
  position: relative;
  padding: 67px 30px;
}

.wake-box {
  width: 453px;
height: 453px;
background-color: rgb(29, 69, 113);
background-image: linear-gradient(to left, rgb(76, 217, 100) 0%, rgb(59, 111, 169) 100%);
  border-radius: 50%;
  padding-top: 89px;
  text-align: right;
  position: relative;
  &:before {
    content: "";
    background: url(../images/arr.png) no-repeat center;
    width: 129px;
    height: 43px;
    position: absolute;
    right: 11px;
    bottom: 0;
    z-index: 5;
  }
  h4 {
    color: white;
    font-family: Souses;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 42px;
    line-height: 1;
  }
  p {
    padding-left: 30px;
    color: white;
    font-family: ProximaNova-B;
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    text-align: left;
  }
  span {
    color: white;
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    display: inline-block;
    margin-right: 70px;
    margin-top: 30px;
    span {
      text-decoration: underline;
      margin: 0;
    }
  }
}

.wake-img {
  position: absolute;
  top: 0;
  right: -14px;
  display: inline-block;
  .wake-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 6;
    background-color: rgb(255, 121, 31);
    background-image: linear-gradient(to top, rgb(255, 100, 31) 0%, rgb(255, 121, 31) 100%);
    border-radius: 45px;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    &:hover {
      background: #1d4571;
    }
  }
  
  &:hover {
    .wake-btn {
      display: block;
    }
  }
}
.wake-none {
  max-width: 90%;
  margin: 0 auto;
  display: none;
  z-index: 25;
  left: 50%;
  margin-left: -45%;
  margin-top: -300px;
  position: fixed;
  top: 50%;
  overflow: hidden;
  height: 600px;
    width: 100%;
  z-index: 99999999999;
 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: #000;
  opacity: 0.8;
  z-index: 1000;
}

.acordion {
  padding: 60px 0;
  
}

.acordion-title {
  text-align: center;
  color: rgb(59, 111, 169);
font-family: Souses;
font-size: 42px;
font-weight: 400;
  margin:  0 auto 25px;
  line-height: 1;
}

.acordion-info {
  color: rgb(59, 111, 169);
font-family: ProximaNova-B;
font-size: 24px;
  text-align: center;
  line-height: 1;
font-weight: 900;
  margin-bottom: 64px;
}

.acordion-box {
  background-color: rgb(255, 254, 251);
border: 3px solid rgb(255, 254, 251);
border-radius: 10px;
  padding: 21px 24px;
  position: relative;
  margin-bottom: 31px;
        -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
  &.active {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    .acordion-box-title {
      color: rgb(76, 217, 100);
    }
    .box-check {
      background-color: rgb(76, 217, 100);
      border-color: rgb(76, 217, 100);
      
      &:before {
        left: 26px;
      }
    }
    .acordion-content {
      display: block;
    }
  }
}

.acordion-box-title {
  max-width: 288px;
  display: inline-block;
  vertical-align: middle;
  color: rgb(59, 111, 169);
font-family: ProximaNova-B;
  line-height: 1;
font-size: 24px;
font-weight: 900;
  -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
}

.box-check {
  width: 70px;
  height: 43px;
  background-color: rgb(59, 111, 169);
  border: 3px solid rgb(229, 229, 229);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  float: right;
      -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
  border-radius: 20px;
  &:before {
    content: "";
    width: 39px;
height: 39px;
    border-radius: 50%;
background-color: white;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.04);
    position: absolute;
    left: -1px;
    top: -1px;
  }
}

.acordion-box-info {
min-height: 56px;
color: black;
font-family: ProximaNova;
font-size: 18px;
font-weight: 700;
  line-height: 1;
  -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
}

.acordion-content {
  color: black;
font-family: ProximaNova;
font-size: 18px;
font-weight: 400;
  line-height: 1;
  display: none;
}

.system-box {
  max-width: 300px;
  background-color: rgb(75, 217, 99);
  background-image: linear-gradient(to left, rgb(76, 217, 100) 0%, rgb(59, 111, 169) 100%);
  border-radius: 10px;
  color: white;
  font-family: ProximaNova;
  font-style: italic;
  padding: 22px 24px;
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  text-align: left;
  width: 100%;
  &.one {
    top: 22px;
    left: 0;
    &:before {
      content: "";
      height: 147px;
      width: 120px;
      position: absolute;
      right: -120px;
      top: 50%;
      border-top: 4px solid #41998d;
      border-right: 4px solid #47b879;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      -webkit-background-size: 4px 100%;
      -moz-background-size: 4px 100%;
      background-size: 4px 100%;
      background-image: -webkit-linear-gradient(top, #41998d 0%, #47b879 100%), -webkit-linear-gradient(top, #41998d 0%, #47b879 100%);
      background-image: -moz-linear-gradient(top, #41998d 0%, #47b879 100%), -moz-linear-gradient(top, #41998d 0%, #47b879 100%);
      background-image: -o-linear-gradient(top, #41998d 0%, #47b879 100%), -o-linear-gradient(top, #41998d 0%, #47b879 100%);
    }
  }
  &.two {
    top: 220px;
    left: 0;
     &:before {
      content: "";
      position: absolute;
          height: 35px;
    width: 268px;
    right: -110px;
      bottom: -35px;
      border-left: 4px solid #3d7ca0;
      border-bottom: 4px solid #419490;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      -webkit-background-size: 4px 100%;
      -moz-background-size: 4px 100%;
      background-size: 4px 100%;
      background-image: -webkit-linear-gradient(top, #3d7ca0 0%, #419490 100%), -webkit-linear-gradient(top, #3d7ca0 0%, #419490 100%);
      background-image: -moz-linear-gradient(top, #3d7ca0 0%, #419490 100%), -moz-linear-gradient(top, #3d7ca0 0%, #419490 100%);
      background-image: -o-linear-gradient(top, #3d7ca0 0%, #419490 100%), -o-linear-gradient(top, #3d7ca0 0%, #419490 100%);
    }
  }
  &.three {
    bottom: 0;
    left: 0;
   &:before  { 
      content: "";
      position: absolute;
      height: 151px;
      width: 163px;
      right: -163px;
      bottom: 52px;
      border-right: 4px solid #44a586;
      border-bottom: 4px solid #4cd964;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      -webkit-background-size: 4px 100%;
      -moz-background-size: 4px 100%;
      background-size: 4px 100%;
      background-image: -webkit-linear-gradient(right, #44a586 0%, #4cd964 100%), -webkit-linear-gradient(right, #44a586 0%, #4cd964 100%);
      background-image: -moz-linear-gradient(right, #44a586 0%, #4cd964 100%), -moz-linear-gradient(right, #44a586 0%, #4cd964 100%);
      background-image: -o-linear-gradient(right, #44a586 0%, #4cd964 100%), -o-linear-gradient(right, #44a586 0%, #4cd964 100%);
    }
  }
  &.four {
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    max-width: 338px;
    &:before  { 
      content: "";
      position: absolute;
      height: 164px;
      width: 92px;
      left: -92px;
      top: 50%;
      border-left: 4px solid #4cd964;
      border-top: 4px solid #4cd964;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      -webkit-background-size: 4px 100%;
      -moz-background-size: 4px 100%;
      background-size: 4px 100%;
      background-image: -webkit-linear-gradient(right, #44a586 0%, #4cd964 100%), -webkit-linear-gradient(right, #44a586 0%, #4cd964 100%);
      background-image: -moz-linear-gradient(right, #44a586 0%, #4cd964 100%), -moz-linear-gradient(right, #44a586 0%, #4cd964 100%);
      background-image: -o-linear-gradient(right, #44a586 0%, #4cd964 100%), -o-linear-gradient(right, #44a586 0%, #4cd964 100%);
    }
  }
  &.circle {
    color: white;
    font-family: Souses;
    font-size: 20px;
    font-weight: 400;
    height: 172px;
    width: 172px;
    border-radius: 50%;
    padding: 51px 18px;
    text-align: center;
    display: inline-block;
    left: 50%;
    top: 50%;
    margin: -86px 0 0 -86px;
    &:after {
      content: "";
      width: 233px;
      height: 233px;
      opacity: 0.3;
      border: 10px solid rgb(255, 121, 31);
      border-radius: 50%;
      position: absolute;
      top: -30px;
      left: -30px;
    }
    &:before {
      content: "";
      width: 281px;
      height: 281px;
      opacity: 0.1;
      border: 10px solid rgb(255, 121, 31);
      border-radius: 50%;
      position: absolute;
      top: -55px;
      left: -55px;
    }
  }
}
.system-list {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 338px;
  border-radius: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  padding: 15px 25px;
  width: 100%;
  border-left: 4px solid #3d7ca0;
  border-right: 4px solid #4acc6c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100% ;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 4px;
  -moz-background-size: 100% 4px;
  background-size: 100% 4px;
  background-image: -webkit-linear-gradient(left, #3d7ca0 0%, #4acc6c 100%), -webkit-linear-gradient(left, #3d7ca0 0%, #4acc6c 100%);
  background-image: -moz-linear-gradient(left, #3d7ca0 0%, #4acc6c 100%), -moz-linear-gradient(left, #3d7ca0 0%, #4acc6c 100%);
  background-image: -o-linear-gradient(left, #3d7ca0 0%, #4acc6c 100%), -o-linear-gradient(left, #3d7ca0 0%, #4acc6c 100%);
  background-image: linear-gradient(to right, #3d7ca0 0%, #4acc6c 100%), linear-gradient(to right, #3d7ca0 0%, #4acc6c 100%);
  li {
    padding-left: 50px;
    font-family: ProximaNova;
    color: rgb(59, 111, 168);
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
    position: relative;
    &:before {
      content: "";
      background: url('../images/61343.png') no-repeat;
      width: 42px;
      height: 38px;
      position: absolute;
      top: 50%;
      left: 0%;
      margin: -17px 0 0;
    }
    &:last-child {
      color: rgb(59, 111, 168);
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      padding: 0;
      &:before {
        display: none;
      }
    }
  }
}

.system {
  padding: 20px 0;
  text-align: center;
}

.system-block {
  position: relative;
  max-width: 920px;
  min-height: 578px;
  margin: 0 auto;
}

.like {
  background: url('../images/like.png') no-repeat center;
  padding: 53px 0 48px;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  border-radius: 10px;
  min-height: 250px;
}

.like-title {
  max-width: 600px;
font-family: Souses;
font-size: 42px;
font-weight: 400;
  margin:  0 auto 36px;
  color: #fff;
  line-height: 1;
  span {
    color: rgb(75, 217, 99);
  }
}

.like-info {
  color: white;
  font-family: ProximaNova;
  font-size: 24px;
  font-weight: 900;
}

.lock {
  padding: 50px 0;
}

.lock-title {
  color: rgb(59, 111, 169);
  font-family: Souses;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  margin-bottom: 68px;
}

.lock-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 366px;
  margin: 0 auto;
  li {
    max-width: 295px;
    .lock-box {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
      padding: 10px 14px;
      display: inline-block;
          z-index: 3;
    position: relative;
    }
    &:hover {
      z-index: 9 !important;
    }
    &:before {
      z-index: 4;
    }
    display: inline-block;
        -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    
      position: absolute;
    &:nth-child(1) {
      top: 38px;
      left: 0;
      z-index: 3;
        &:after {
          content: "";
          position: absolute;
          z-index: 2;
        }
      &:before {
        content: "";
        border-bottom: 22px solid transparent;
        border-right: 30px solid #fff;
        border-left: 0 solid transparent;
        border-top: 0 solid transparent;
        position: absolute;
        bottom: -22px;
        right: 26px;
      }
    }
    &:nth-child(2) {
      top: 250px;
      left: 98px;
      .lock-box {
        position: relative;
        z-index: 3;
      }
      &:before {
        content: "";
        border: 22px solid transparent;
        border-bottom: 0 solid transparent;
        border-right: 30px solid #fff;
        border-left: 0 solid transparent;
        position: absolute;
        top: -22px;
        right: 15px;
        z-index: 4;
      }
      &:after {
          content: "";
          position: absolute;
          z-index: 2;
        }
    }
    &:nth-child(3) {
      top: 0px;
      left: 205px;
      z-index: 2;
      &:before {
        content: "";
        border-bottom: 22px solid transparent;
        border-right: 30px solid #fff;
        border-left: 0 solid transparent;
        border-top: 0 solid transparent;
        position: absolute;
        bottom: -22px;
        right: 26px;
      }
       &:after {
          content: "";
          position: absolute;
          z-index: -1;
        }
    }
    &:nth-child(4) {
      top: 46px;
      right: 112px;
      z-index: 1;
      &:before {
        content: "";
        border-bottom: 22px solid transparent;
        border-right: 0 solid transparent;
        border-left: 30px solid #fff;
        border-top: 0 solid transparent;
        bottom: -22px;
        content: "";
        position: absolute;
        left: 16px;
      }
       &:after {
          content: "";
          background: url('../images/lock-cl1.png') no-repeat;
          width: 60px;
          height: 94px;
          position: absolute;
           top: -10px;
          left: -37px;
          z-index: -1;
         
        }
      
    }
    &:nth-child(5) {
      top: 100px;
      right: 32px;
      &:before {
        content: "";
        border-bottom: 22px solid transparent;
        border-right: 0 solid transparent;
        border-left: 30px solid #fff;
        border-top: 0 solid transparent;
        bottom: -22px;
        content: "";
        position: absolute;
        left: 16px;
      }
       &:after {
          content: "";
          background: url('../images/lock-cl1.png') no-repeat;
          width: 60px;
          height: 94px;
          position: absolute;
           top: -10px;
          left: -37px;
          z-index: -1;
         
        }
      
    }
    &:nth-child(6) {
      top: 180px;
      right: 0px;
      &:before {
        content: "";
        border-bottom: 22px solid transparent;
        border-right: 0 solid transparent;
        border-left: 30px solid #fff;
        border-top: 0 solid transparent;
        bottom: -22px;
        content: "";
        position: absolute;
        left: 16px;
      }
       &:after {
          content: "";
          background: url('../images/lock-cl1.png') no-repeat;
          width: 60px;
          height: 94px;
          position: absolute;
           top: -10px;
          left: -37px;
          z-index: -1;
         
        }
      
    }
    &:nth-child(7) {
      top: 283px;
      right: 108px;
      &:before {
        content: "";
        border: 22px solid transparent;
        border-bottom: 0px solid transparent;
        border-right: 0px solid transparent;
        border-left: 30px solid #fff;
        top: -22px;
        content: "";
        position: absolute;
        left: 16px;
      }
       &:after {
          content: "";
          background: url('../images/lock-cl1.png') no-repeat;
          width: 60px;
          height: 94px;
          position: absolute;
          top: -95px;
          left: -32px;
          z-index: -1;
         
        }
      
    }
    &:hover {
      &.bounce {
        animation: bounce 0s;
      }
    }

    &.active {
      &.bounce {
        animation: bounce 0s;
        z-index: 50;
      }
      &:nth-child(1) {
        &:after {
          background: url("../images/lock1.png") no-repeat center;
          width: 137px;
          height: 135px;
          bottom: -90px;
          left: 203px;
        }
      }
      &:nth-child(2) {
        &:after {
          background: url("../images/lock2.png") no-repeat center;
          width: 171px;
          height: 169px;
          top: -135px;
          left: 205px;
        }
      }
      &:nth-child(3) {
        &:after {
          background: url("../images/lock3.png") no-repeat center;
          width: 207px;
          height: 203px;
          bottom: -140px;
          left: 134px;
        }
      }
      &:nth-child(4) {
        .lock-box {
          margin-top: -40px;
        }
        &:after {
          background: url("../images/lock2.png") no-repeat center;
          background-size: 100%;
          width: 115px;
          left: -65px;
        }
      }
      &:nth-child(5) {
        .lock-box {
          margin-top: -40px;
        }
        &:after {
          background: url("../images/lock2.png") no-repeat center;
          background-size: 100%;
          width: 115px;
          left: -65px;
        }
      }
      &:nth-child(6) {
        .lock-box {
          margin-top: -40px;
        }
        &:after {
          background: url("../images/lock2.png") no-repeat center;
          background-size: 100%;
          width: 115px;
          left: -65px;
        }
      }
      &:nth-child(7) {
       
        &:after {
          background: url("../images/lock2.png") no-repeat center;
          background-size: 100%;
          width: 115px;
          left: -65px;
        }
      }
      span {
        display: none;
      }
      p {
        display: block;
      }
    }
    p {
      display: none;
      color: black;
      font-family: ProximaNova;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      line-height: 1;
          -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;

    }
    span {
      color: rgb(55, 53, 125);
      font-family: ProximaNova;
      font-size: 18px;
      font-weight: 400;
      line-height: 1;
          -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;

      .lock-click {
        cursor: pointer;
        text-decoration: underline;
        color: rgb(55, 53, 125);
      }
    }
  }
}

.js-lazyYT {
  margin-bottom: 30px;
  opacity: 0.2;
}

.mar-top0 {
  margin-top: 0;
}

.video {
  padding: 75px 0;
  text-align: center;
}

.video-title {
  color: rgb(59, 111, 169);
font-family: Souses;
font-size: 42px;
font-weight: 400;
  margin: 0 auto 87px;
}

.opinion-box {
  background: url('../images/opinion.png') no-repeat center;
  min-height: 707px;
  padding: 131px 106px;
  border-radius: 10px;
  max-width: 970px;
  margin: 0 auto;
}

.opinion-circle {
  width: 453px;
height: 453px;
background-color: rgb(59, 111, 169);
background-image: linear-gradient(to left, rgb(76, 217, 100) 0%, rgb(59, 111, 169) 100%);
  border-radius: 50%;
  padding: 119px 0 0 45px;
  margin-left: auto;
  .opinion-title {
    color: white;
    font-family: Souses;
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 21px;
  }
  p {
    color: white;
    font-family: ProximaNova;
    font-size: 26px;
    font-weight: 900;
  }
  .registr-btn.close {
    background: rgb(255, 56, 36);
    border-color:  rgb(255, 56, 36);
    &:hover {
      color: rgb(255, 56, 36) ;
      background: transparent;
    }
  }
}

.program {
  padding: 92px 0 62px;
}

.program-title {
  color: rgb(59, 111, 169);
  font-family: Souses;
  font-size: 42px;
  font-weight: 400;  
  line-height: 1;
  text-align: center;
  margin-bottom: 77px;
}

.program-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 810px;
  position: relative;
  &:before {
    content: "";
    width: 4px;
    height: 1249px;
    border-left: 4px solid rgb(76, 217, 100);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
  }
  .program-item {
    display: block;
    min-height: 130px;
    position: relative;
    text-align: right;
    &.full-visible {
      &:before {
        background-image: linear-gradient(to top, rgb(255, 100, 31) 0%, rgb(255, 121, 31) 100%);
        box-shadow: 0 7px 13px rgba(0, 0, 0, 0.2);
      }
    }
    &:before {
      content: "";
      width: 35px;
      height: 35px;
      height: 35px;
      background-color: white;
      background-image: linear-gradient(to left, rgb(76, 217, 100) 0%, rgb(59, 111, 169) 100%);
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -17.5px;
      border-radius: 50%;
      
    }
    &:nth-child(even) {
        margin-top: -40px;
      .program-box {
        text-align: left;
        float: right;
      }
    }
  }
}

.program-box {
    max-width: 381px;
    width: 100%;
  .box-item {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            text-align: left;
            padding-left: 45px;
            color: black;
            font-family: ProximaNova;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            position: relative;
            &:before {
              content: "";
              background: url(../images/61343.png) no-repeat;
              width: 42px;
              height: 38px;
              position: absolute;
              top: 50%;
              left: 0;
              margin: -19px 0 0;
            }
          }
        }
  h4 {
    color: rgb(59, 111, 169);
    font-family: ProximaNova-B;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    position: relative;
    
    span {
      color: rgb(71, 189, 119);
    }
  }
}

.result {
  padding: 115px 0 45px;
  text-align: center;
}

.result-title {
  color: rgb(59, 111, 169);
font-family: Souses;
font-size: 42px;
font-weight: 400;
  line-height: 1;
  margin-bottom: 22px;
}

.result-box {
    text-align: left;
  &.text-right {
    text-align: right;
  }
  h4 {
    color: rgb(59, 111, 169);
    font-family: ProximaNova-B;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 20px;
  }
  p {
  color: black;
font-family: ProximaNova;
font-size: 18px;
font-weight: 400;
    line-height: 1;
  }
}

.result-info {
  margin-top: 81px;
  padding: 5px 62px 65px;
   border-left: 10px solid #4acc6c;
  border-right: 10px solid #3d7ca1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100% ;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 10px;
  -moz-background-size: 100% 10px;
  background-size: 100% 10px;
  background-image: -webkit-linear-gradient(left, #4acc6c 0%, #3d7ca1 100%), -webkit-linear-gradient(left, #4acc6c 0%, #3d7ca1 100%);
  background-image: -moz-linear-gradient(left, #4acc6c 0%, #3d7ca1 100%), -moz-linear-gradient(left, #4acc6c 0%, #3d7ca1 100%);
  background-image: -o-linear-gradient(left, #4acc6c 0%, #3d7ca1 100%), -o-linear-gradient(left, #4acc6c 0%, #3d7ca1 100%);
  background-image: linear-gradient(to right, #4acc6c 0%, #3d7ca1 100%), linear-gradient(to right, #4acc6c 0%, #3d7ca1 100%);
  h4 {
    background: #f9fafb;
    max-width: 362px;
    margin: -20px auto 57px;
    color: rgb(59, 111, 169);
    font-family: Souses;
    font-size: 42px;
    font-weight: 400;
    line-height: 1;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    li {
      color: black;
      font-family: ProximaNova;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 15px;
      position: relative;
      padding-left: 55px;
      line-height: 1;
      &:before {
          content: "";
          background: url(../images/61343.png) no-repeat;
          width: 42px;
          height: 38px;
          position: absolute;
          top: 0;
          left: 0;
      }
    }
  }
}

.speaker {
  padding: 45px 0;
}

.speaker-box {
  background-color: rgb(75, 217, 99);
  background-image: linear-gradient(to right, rgb(76, 217, 100) 0%, rgb(59, 111, 169) 100%);
  border-radius: 10px 10px 0 0;
  padding: 61px 34px 0;
}

.speaker-title {
  color: white;
font-family: Souses;
font-size: 42px;
font-weight: 400;
  line-height: 1;
  text-align: center;
  margin-bottom: 41px;
}

.speaker-box-name {
  color: white;
font-family: ProximaNova-B;
font-size: 30px;
font-weight: 900;
  line-height: 1;
  margin-bottom: 44px;
}

.speaker-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    color: white;
font-family: ProximaNova;
font-size: 18px;
font-weight: 400;
    position: relative;
    padding-left: 55px;
    margin-bottom: 15px;
    &:before {
      content: "";
      background: url(../images/61343.png) no-repeat;
      width: 42px;
      height: 38px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.speaker-bottom-bg {
  background: url(../images/speaker-bg.png) no-repeat center;
  padding:  0 0 53px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.speaker-info {
  max-width: 892px;
  margin: -31px auto 49px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 30px 55px;
  text-align: center;
  p {
    font-family: ProximaNova;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: rgb(59, 111, 169); 
    span {
      color: rgb(255, 117, 32);
    }
  }
  &:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #FFF9F8;
	border-width: 20px;
	margin-left: -20px;
  }
}

.reviews {
  padding: 0 0 70px;
}

.reviews-title {
  color: rgb(59, 111, 169);
font-family: Souses;
font-size: 42px;
font-weight: 400;
  line-height: 1;
  margin-bottom: 52px;
  text-align: center;
}

.reviews-box {
  text-align: center;
  p {
    color: rgb(59, 111, 169);
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 18px;
    min-height: 55px;
  }
}

.pt12 {
  padding-top: 12px;
}

.price {
  padding: 70px 0;
  text-align: center;
}

.price-title {
  line-height: 1;
  color: rgb(59, 111, 169);
font-family: Souses;
font-size: 42px;
font-weight: 400;
  margin-bottom: 42px;
}

.price-box {
  display: inline-block;
  max-width: 400px;
  width: 100%;
  min-height: 566px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  margin: 0 16px;
  padding: 44px 31px;
  vertical-align: top;
  h4 {
    color: rgb(59, 111, 169);
    font-family: ProximaNova-B;
    font-size: 30px;
    font-weight: 900;
    margin: 0 auto 49px;
  }
  .info {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      padding-left: 55px;
      color: black;
      font-family: ProximaNova;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 8px;
      text-align: left;
      &:before {
        content: "";
      background: url(../images/61343.png) no-repeat;
      width: 42px;
      height: 38px;
      position: absolute;
      top: 0;
      left: 0;
      }
    }
  }
}

.price-summ {
  color: rgb(59, 111, 169);
  font-family: ProximaNova-B;
  font-size: 30px;
  font-weight: 900;
  display: none;
  margin-bottom: 29px;
  &.active {
    display: block;
  }
}

.price-check {
  list-style: none;
  margin: 0 auto 19px;
  padding: 0;
  background-color: white;
  border: 3px solid rgb(229, 229, 229);
  border-radius: 25px;
  max-width: 326px;
  min-height: 50px;
  display: block;
  
  li {
    color: rgb(59, 111, 169);
    font-family: ProximaNova;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    display: inline-block;
    padding: 5px 12px;
    max-width: 150px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
        float: left;
    &.online {
      float: right;
      margin-right: -3px;
    }
    &.offline {
      margin-left: -3px;
    }
    &.offline.active {
    margin-top: -3px;
      height: 50px;
      background-color: rgb(76, 217, 100);
      border-radius: 25px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.04);
      color: #fff;
      padding-top: 6.5px;
    }
    &.online.active {
    margin-top: -3px;
      height: 50px;
       background-color: rgb(59, 111, 169);
      border-radius: 25px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.04);
      color: #fff;
      padding-top: 6.5px;
    }
  }
}

.info.mar-bottom71 {
  margin-bottom: 71px;
}

.why {
  padding: 70px 0;
  text-align: center;
}

.why-title {
  color: rgb(59, 111, 169);
font-family: Souses;
font-size: 42px;
font-weight: 400;
  line-height: 1;
  margin: 0 auto 72px;
  
}

.why-img {
  min-height: 95px;
  margin-bottom: 53px;
}

.why-info {
  color: rgb(59, 111, 169);
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  span {
    color: rgb(255, 115, 32);
  }
}

.callback-box {
  height: 615px;
  background-color: rgb(59, 111, 169);
  border-radius: 10px;
  padding: 62px 0 0 44px;
  position: relative;
}

.callback-circle {
  width: 453px;
  height: 453px;
  background-color: rgb(59, 111, 169);
  background-image: linear-gradient(to right, rgb(76, 217, 100) 0%, rgb(59, 111, 169) 100%);
  border-radius: 50%;
  padding: 120px 39px 0 44px;
  display: inline-block;
  h4 { 
    color: white;
  font-family: Souses;
  font-size: 36px;
  font-weight: 400;
    line-height: 1;
    margin: 0 auto 27px;
  }
  p {
    color: white;
    font-family: ProximaNova-B;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 33px;
    line-height: 1;
  }
}

.callback-img {
  position: absolute;
  top: 62px;
  right: 0;
}

.callback {
  margin-bottom: 83px;
}

footer {
  .head-overlay:before {
    display: none; 
  }
}

footer.head-bottom {
  position: relative;
}

.footer-logo {
  text-align: center;
  padding: 29px 0;
      position: relative;
    z-index: 6;
}
.modal {
  position: fixed;
  z-index: 1050; 
  display: none;
  overflow: hidden;
  outline: 0;
  opacity: 0;
      background-color: #3b6fa9;
    border-radius: 10px;
  text-align: center;
  top: 50%;
   left: 50%;
   width: 50%;
   max-width: 380px;
   min-width: 300px;
   height: auto;
   backface-visibility: hidden;
   transform: translateX(-50%) translateY(-50%);
  transition: all 0.3s;
   -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  .modal-content {
    overflow: hidden;
    padding: 20px;
    text-align: left;
    height: auto;
  }
}

.modal-btn {
  cursor: pointer;
}

.modal-head {
  padding: 5px;
  position: relative;
}
.close-m {
  background: url(../images/close.png)no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  &:hover {
 -webkit-filter: invert(80%);
  -moz-filter: invert(80%);
  -o-filter: invert(80%);
  -ms-filter: invert(80%);
  }
}
.overl-h {
  overflow: hidden;
}

.input-text, .textarea {
 display: block;
  min-height: 40px;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #000;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.registration {
  text-align: center;
}

.logo-img {
  display: inline-block;
}



.opinion {
  margin-top: 30px;
}
