/GoIT/exam/node_modules/
/other/visotsky/.sass-cache/
/other/visotsky/node_modules/
/other/ucmas/.sass-cache/
/other/ucmas/node_modules/
/other/galileo/.sass-cache/
/other/galileo/node_modules/
/other/imarkschool/.sass-cache/
/other/imarkschool/node_modules/
/other/arithletics/.sass-cache/
/other/arithletics/node_modules/
/other/smm2017/.sass-cache/
/other/smm2017/node_modules/