
::-webkit-scrollbar{
  width:10px;
  height: 10px;
}
::-webkit-scrollbar-thumb{
  border-width: 1px 1px 1px 2px;
  border-color: #fff;
  background-color: #1071ea;
}
::-webkit-scrollbar-thumb:hover{
  border-width: 1px 1px 1px 2px;
  border-color: #fff;
  background-color: #1071ea;
}
::-webkit-scrollbar-track{
  border-width: 1px;
  background-color: #eee;
  border-color: #fff;
}
::-webkit-scrollbar-track:hover{
  border: solid 1px #1071ea;
  border-color: #fff;
}

@import 'info/bootstrap';
@import 'info/main';
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}