@font-face {
	font-family: AvantGardeGothicC;
	src: url('../fonts/AvantGardeGothicC.eot');
	src: local('☺'), url('../fonts/AvantGardeGothicC.woff') format('woff'), 
	url('../fonts/AvantGardeGothicC.ttf') format('truetype'),
	 url('../fonts/AvantGardeGothicC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

