doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 
        |Treehouse
    link(rel='stylesheet', href='./css/fontello.css')
    link(rel='stylesheet', href='./css/style.css')
  body
    block navbar

    block content

    script(src='./js/vendor.js')
    script(src='./js/app.js')

    block scripts
