::-webkit-scrollbar{
  width:8px;
  height: 8px;
}
::-webkit-scrollbar-thumb{
  border-width: 1px 1px 1px 2px;
  border-color: #fff;
  background-color: #e9a716;
}
::-webkit-scrollbar-thumb:hover{
  border-width: 1px 1px 1px 2px;
  border-color: #fff;
  background-color: #f7c617;
}
::-webkit-scrollbar-track{
  border-width: 1px;
  background-color: #222222;
  border-color: #fff;
}
::-webkit-scrollbar-track:hover{
  border: solid 1px #e9a716;
  border-color: #fff;
}
.head {
  background: url(images/intro.png) no-repeat;
  background-size: cover;
  padding: 43px 0 152px;
}

.head-logo {
  float: left;
}

.head-phone {
  float: right;
  padding-top: 17px;
}
.head-phone a {
  color: #ffffff;
  font: 300 24px PFDinDisplayPro;
  text-decoration: none;
}

.head-content {
  margin-top: 78px;
  padding-left: 100px;
}

.head-info-small {
  color: #ffffff;
  font: 300 18px PFDinDisplayPro;
  margin: 0 0 6px;
}

.head-title {
  color: #e9a716;
  font: 300 51px / 84px PFDinDisplayPro;
  margin: 20px 0 24px;
}
.head-title font {
  font: 300 100px / 84px PFDinDisplayPro; 
  display: block;
}

.head-info-large {
  color: #ffffff;
  font: 300 18px PFDinDisplayPro;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.head-info {
  color: #ffffff;
  font: 300 18px PFDinDisplayPro;
  margin: 14px 0 67px;
}

.btn-reg {
  color: #0e0e0e;
  font: 300 18px/0 PFDinDisplayPro;
  background-color: #f7c617;
  border-radius: 4px;
  padding: 36px 53px;
  text-transform: uppercase;
  border: 0;
}
input.btn-reg {
  padding: 36px 31px;
  width: 263px;
  height: 86px;
}
.btn-reg:hover {
  text-decoration: none;
  background: #e9a716;
  color: #000;
}

.head-date {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font: 300 18px PFDinDisplayPro;
  margin-left: 29px;
}

.support {
  background: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
  padding: 28px 0px;
}

.support-title {
  color: #0e0e0e;
  font: 300 24px PFDinDisplayPro;
  width: 170px;
  display: inline-block;
  margin-right: 92px;
  vertical-align: middle;
}

.support-img {
  margin-right: 20px;
  display: inline-block;
}

.support-img:last-child {
  margin-right: 0px;
}

.support-box {
  padding: 0px 0px 0px 48px;
}

.what-amazon-offset {
  padding-left: 65px;
}

.what-amazon-title {
  color: #0e0e0e;
  font: 300 36px PFDinDisplayPro;
  margin: 25px 0;
  text-transform: uppercase;
}
.what-amazon-title font {
  font: 700 36px PFDinDisplayPro; 
}

.what-amazon {
  padding: 141px 0 179px;
  background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
  background: -o-linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
  background: -ms-linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
  background: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
}

.what-amazon-info {
  color: #101010;
  font: 300 18px PFDinDisplayPro;
  margin: 36px 0;
}

.what-amazon-img {
  text-align: right;
}

.advantage {
  background: url(images/advans.png) no-repeat;
  background-size: cover;
  padding: 83px 0 31px;
}

.advantage-title {
  color: #ffffff;
  font: 300 36px PFDinDisplayPro;
  text-transform: uppercase;
  text-align: center;
  width: 64%;
  margin-left: auto;
  margin-right: auto;
}
.advantage-title font {
  font: 700 36px PFDinDisplayPro;
}

.advantage-box {
  width: 395px;
  display: inline-block;
  margin-right: 118px;
  margin-top: 70px;
  vertical-align: top;
  text-align: left;
}
.advantage-box:last-child {
  margin-right: 0px;
}

.advantage-title-small {
  color: #f7c617;
  font: 300 18px PFDinDisplayPro;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantage-list {
  list-style: none;
  padding-left: 50px;
  margin: 0;
  margin-bottom: 43px;
}

.advantage-item {
  position: relative;
  color: #ffffff;
  font: 300 18px / 30px PFDinDisplayPro;
}
.advantage-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  background: url(images/check.png) no-repeat;
  width: 26px;
  height: 23px;
}

.earn {
  padding: 93px 0 0;
  background: #fff;
}

.earn-title {
  color: #101010;
  font: 300 36px PFDinDisplayPro;
  margin-bottom: 93px;
  text-align: center;
  text-transform: uppercase;
}
.earn-title font {
  color: #101010;
  font: 700 36px PFDinDisplayPro;
}

.earn-info {
  color: #101010;
  font: 300 16px PFDinDisplayPro;
  margin-bottom: 20px;
  width: 470px;
}
.earn-info font {
  font: 700 16px PFDinDisplayPro;
}

.earn-offset1 {
  margin-left: 417px;
}

.earn-img {
  float: left;
}

.mar-top75 {
  margin-top: 75px;
}

.mar-bott-10 {
  margin-bottom: -10px;
}

.earn-box {
  float: right;
  margin-top: 75px;
  width: 515px;
}

.form {
  background: url(images/intro1.png) no-repeat;
  background-size: cover;
  padding: 44px 0 66px;
}

.form-title {
  color: #e9a716;
  font: 300 51px / 75px PFDinDisplayPro;
  text-transform: uppercase;
  /*padding-left: 80px;*/
  margin-top: 0;
}
.form-title font {
  font: 300 100px / 84px PFDinDisplayPro;
  display: block;
}

.form-info {
  color: #ffffff;
  font: 300 18px PFDinDisplayPro;
  text-transform: uppercase;
  /*padding-left: 80px;*/
  width: 81%;
}

.input-text {
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  height: 37px;
  width: 259px;
  text-align: center;
  margin-bottom: 5px;
  color: #ffffff;
  font: 300 16px PFDinDisplayPro;
  background: transparent;
}

.btn-arr {
  position: relative;
  display: inline-block;
}
.btn-arr:before {
  content: "";
  background: url(images/arr.png) no-repeat;
  height: 28px;
  width: 145px;
  position: absolute;
  left: -165px;
  top: 30px;
}

.program {
  padding: 139px 0 97px;
}

.program-title {
  color: #0e0e0e;
  font: 300 36px PFDinDisplayPro;
  text-transform: uppercase;
  padding-left: 65px;
  margin-top: 0;
}
.program-title font {
  font: 700 36px PFDinDisplayPro;
}

.program-list {
  list-style: none;
  margin-top: 46px;
  margin-left: 65px;
  width: 460px;
  display: inline-block;
  /*width: 63%;*/
  text-align: left;
}

.program-item {
  position: relative;
  color: #101010;
  font: 300 18px PFDinDisplayPro;
  margin-bottom: 15px;
}
.program-item:before {
  content: "";
  background: url(images/check.png);
  height: 23px;
  width: 26px;
  position: absolute;
  left: -40px;
  top: 0;
}
.program-item font {
  font: 700 18px PFDinDisplayPro;
}

.program-img {
  padding-top: 10px;
  width: 100%;
}

.intensive-info {
  background: url(images/intro3.png) no-repeat;
  background-size: cover;
  padding: 148px 0;
}

.intensive-info-title {
  text-align: center;
  color: #ffffff;
  font: 300 36px PFDinDisplayPro;
  text-transform: uppercase;
  margin-bottom: 183px;
}

.intensive-info-img {
  text-align: center;
}

.intensive-info-title-small {
  color: #f7c617;
  font: 300 24px PFDinDisplayPro;
  text-align: center;
  text-transform: uppercase;
  margin-top: 71px;
  margin-bottom: 20px;
}

.intensive-info-content {
  color: #ffffff;
  font: 300 18px PFDinDisplayPro;
  text-align: center;
}
.intensive-info-content font {
  font: 700 18px PFDinDisplayPro;
}

.speakers-title {
  text-transform: uppercase;
  color: #101010;
  font: 300 36px PFDinDisplayPro;
  text-align: center;
  margin-bottom: 100px;
}

.speakers {
  padding: 83px 0 190px;
}

.padd-left62 {
  padding-left: 62px;
}

.speakers-img {
  text-align: center;
}
.speakers-img img {
  width: 100%;
}

.speakers-name {
  color: #101010;
  font: 300 24px PFDinDisplayPro;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.speakers-name font {
  font: 700 24px PFDinDisplayPro;
}

.speakers-list {
  list-style: none;
  margin: 0;
  width: 495px;
}

.speakers-item {
  color: #101010;
  font: 300 16px / 16px PFDinDisplayPro;
  position: relative;
  margin-bottom: 15px;
}
.speakers-item:before {
  content: "";
  background: url(images/check.png) no-repeat;
  height: 23px;
  width: 26px;
  position: absolute;
  left: -40px;
  top: 0px;
}

.padd-left100 {
  padding-left: 100px;
}

.mar-top82 {
  margin-top: 82px;
}

.footer {
  background: url(images/intro4.png) no-repeat;
  background-size: cover;
  padding: 259px 0 33px;
}

.mar-top186 {
  margin-top: 186px;
}

.footer-info {
  color: #5c5c5c;
  font: 300 14px PFDinDisplayPro;
  text-align: center;
  margin-bottom: 30px;
}
.footer-info a {
  color: #5c5c5c;
}

.footer-logo {
  text-align: center;
}
.wf2-embedded {
  margin-right: auto;
  margin-left: auto;
}
form {
  border: 0 !important;
}