
.header-nav-menu {
	width: 100%;
	background-color:#a64dff;
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
}
.nav {
	width: 960px;
	margin: 0px auto;
	text-align: center;
    position: relative;
    display: block;
}

ul {
	list-style: none;
}
ul li {
	display: inline-block;
	text-transform: uppercase;
	padding-top: 10px;
}
.nav > li > a {
	text-decoration: none;
    color: #fff;
    padding: 13px 20px;
}
.nav>li>a:hover {
	background-color: #eee;
	color: #b4aaa5;
}