@import '../../mq';

@media #{$phonePortrait} {
    @import '../mobile';
	& {
		.head{
			text-align: center;
		}
		.head-logo, .head-btn {
			float: none;
		}
		.head-logo {
			margin-bottom: 15px;
		}
		.head-content {
			padding-top: 196px;
		}
		.head-form {
			width: 100%;
			height: auto;
		}
		.head-form:before {
			display: none;
		}
		.head-input {
			width: 100%;
		}
		.head-input-btn {
			margin-left: 0;
		    padding: 9px 15px;
		    height: auto;
		    margin-top: 10px;
		}
		.cursor-text {
			position: static;
			margin-left: 0;
			width: 100%;
			line-height: 1;
		}
		.work_business {
			text-align: center;
		}
		.answer-content {
			width: 100%;
		}
		.leader {
			padding: 10px 0;
		}
		.leader .leader-info {
			width: 100%;
		}
		.registr-btn {
			height: auto;
			text-align: center;
		    padding: 17px 15px;
	        margin-bottom: 10px;
		}
		.skills-title {
			width: 100%;
		}
		.skills-img {
			position: static;
			width: 100%;
		    height: 252px;
		}
		.skills-item  {
			opacity: 1;
		}
		.skills-left {
			width: 100%;
		}
		.skills-left li.skills-item:before {
			display: none;
		}
		.skills-right {
			width: 100%;
			 li.skills-item:before {
			 	display: none;
			 }
		}
		.speaker-name {
			padding-left: 0;
		}
		.speaker-list {
			padding-left: 34px;
		}
		.speaker-img {
			img {
				width: 100%;
			}
		}
		.seminar {
		    padding: 0 0 35px;
		}
		.seminar-video img {
			width: 100%;
		}
		.reviews_slider-img {
			text-align: center;
		}
		.advantages-title {
			margin-bottom: 20px;
		}
		#xray-block  {
			background: url('../images/xray-img1.png') center no-repeat;
			background-size: cover;
			img {
				height: 1000px;
			}
			.xray-logo {
				width: 98px;
				height: 92px;
				display: inline-block;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		.xs-none {
			display: none;
		}
		.places {
			height: 63px;
		}
	}
}
