extends ./layouts/main.jade

block content
  include ./sections/header_menu.jade
  
  include ./sections/section1.jade

  include ./sections/section2.jade

  include ./sections/section3.jade

  include ./sections/section4.jade

  include ./sections/section5.jade

  include ./sections/section6.jade

  include ./sections/section7.jade
  
  include ./sections/section8.jade

  include ./sections/section9.jade

  include ./sections/footer.jade
