footer.bg-white.footer
  .container
    .row
      .col-md-12
        p
          |© Copyright 2014 FreebiesXpress.com
        .social-box
          i.icon-twitter.icon
          i.icon-facebook.icon
          i.icon-pinterest.icon
          i.icon-gplus.icon