//- include ./../mixins/service.jade

header.header
  .container
    nav.menu
      a(href="/").menu-logo
        span.menu-circle
          i.icon-leaf.icon-flip-horizontal
        |Treehouse
      ul.menu-main
        li.menu-item
          a(href="").menu-link
            |Home
        li.menu-item
          a(href="").menu-link
            |About
        li.menu-item
          a(href="").menu-link
            |Blog
        li.menu-item
          a(href="").menu-link
            |Portfolio
        li.menu-item
          a(href="").menu-link
            |Contact


