section.bg-white.section
  .container
    .row
      .col-md-12
        h2.bg-white-title.text-center
          |our awesome clients
        p.bg-white-title_small.text-center
          |Proin iaculis purus consequat sem cure.
        .reviews
          .reviews-box
            .reviews-img.mar-right45
              img(src="images/photo.png")
            .reviews-content
              p
                |“ Proin iaculis purus consequat sem cure  digni ssim  donec porttitora entum suscipit aenean rhoncus. ”
              span.author
                |- Jamie Richardson, Founder of Cocoa Media
          .reviews-box
            .reviews-content
              p
                |“ Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus. ”
              span.author
                |- Kim Thompson, Founder of Rainel
            .reviews-img.mar-left45
              img(src="images/photo1.png")