include ./../mixins/service.jade

section.bg-grey.section
  .container
    .row
      .col-md-12
        h2.bg-white-title
          |culture & Values
        p.bg-white-title_small
          |Proin iaculis purus consequat cure.
    .row
      +culture('icon-music icon-circle left-11', 'Work-Life Balance', 'Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt.')
      +culture('icon-chart-bar icon-circle', 'Quality Over Quantity', 'Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt.')
      +culture('icon-star icon-circle', 'Deliver Excellence', 'Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt.')