section.visual.section
  .container
    .row
      .col-md-12.text-center
        h1.visual-title
          |Creative Digital Solutions
        p.visual-title_small
          |Proin iaculis purus consequat sem cure.
        a(href="").visual-btn
          |View Portfolio