include ./../mixins/service.jade

section.bg-white.text-center.section
  .container
    .row
      .col-md-12
        h2.bg-white-title
          |Professional Services
        p.bg-white-title_small
          |Proin iaculis purus consequat sem cure
    .row.mar-top60
      +service('icon-heart icon-flip-horizontal', 'beautiful designs', 'Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt.' , 'animated_left')
      +service('icon-tablet', 'responsive web', 'Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt.', 'animated_center')
      +service('icon-graph', 'Marketing tools', 'Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt.', 'animated_right')