section.relax
  .container
    .row
      .col-md-12
        .icon-cog
        .relax-block
          h2.relax-title
            |Just relax <span>&</span> 
          h2.relax-title.mar-bottom45
            |let us do the heavy lifting
          p.relax-info
            |Proin iaculis purus consequat sem cure  digni ssim. Donec<br>  porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt.
          ul.relax-list
            li.relax-item
              |Initial Setup & Customizations
            li.relax-item
              |Regular Updates
            li.relax-item
              |Round The Clock Support
          .mar-top80
            a(href="").visual-btn
              |Learn more