section.bg-black.section_mini
  .container
    .row
      .col-md-4
        h3.contact-title-small
          |Contact Us
        ul.contact-list
          li.contact-item.icon-location
            | 55 Main St. <br>Toronto, <br>ON M1H 3A5 
          li.contact-item.icon-mobile
            a(href="tel:(416) 555-5252").phone
              |(416) 555-5252
          li.contact-item.icon-email
            a(href="mailto:hello@treehouse.com").mail
              |hello@treehouse.com
      .col-md-4
        h3.contact-title-small
          |Latest Posts
        ul.leters-list.anim_bottom
          li.leters-item.icon-new
            a(htef="/").leters-link
              |Made With Love In Toronto
          li.leters-item.icon-picture
            a(htef="/").leters-link
              |Startup News & Emerging Tech
          li.leters-item.icon-new
            a(htef="/").leters-link
              |Bitcoin Will Soon Rule The World
          li.leters-item.icon-new
            a(htef="/").leters-link
              |Wearable Technology On The Rise
          li.leters-item.icon-play
            a(htef="/").leters-link
              |Learn Web Design In 30 Days!
      .col-md-4
        h3.contact-title-small
          |Latest Tweets
        ul.leters-list.anim_right
          li.leters-item.icon-twitter-1
            a(href="").leters-link
              |Confucius: Life is really simple,<br> but we insist on making it<br> complicated. 
              span.tag
                |#famousquotes
              span.ago
                |8 mins ago
          li.leters-item.icon-twitter-1
            a(href="").leters-link
              |Grab the Free Treehouse web<br> template at FreebiesXpress! 
              span.tag
                |#freebies #templates
              span.ago
                |2 days ago