section.head
  .container
    .head__logo
      |URLAUBSGLÜCK
    h1.head__title
      |Share your holiday dreams
    p.head__subtitle
      |And find the perfect partner to fullfill it
    a(href="").head__btn
      |Find your holiday partner