section.bg-white.text-center.section
  .container
    .row
      .col-md-12
        h2.bg-white-title
          |latest project
        p.bg-white-title_small
          |Proin iaculis purus consequat sem cure
    .row.mar-top80
      .col-md-6
        .progress
          h2.progress-title
            |Developing a framework
          p.progress-info
            |Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit  aenean rhoncus posuere  odio in tincidunt.
          ul.progress-list
            li.progress-item
              h4
                |E-Commerce Ready
              p
                |Proin iaculis purus consequat sem cure  digni ssim.
            li.progress-item
              h4
                |Powerful SEO Features
              p
                |Proin iaculis purus consequat sem cure.
            li.progress-item
              h4
                |Secure Encryption
              p
                |Proin iaculis purus consequat sem cure iaculis purus.
          p.progress-info
            |Proin iaculis purus consequat sem cure  digni ssim donec  porttitora entum suscipit  aenean rhoncus posuere odio in.
          a(href="").progress-link
            |View Details 
            i.icon-right
      .col-md-6
        img(src='images/ipad.png', alt='').progress-img