section.bg-white.text-center.section_mini
  .container
    .sponsor-img.anim_left
      img(src="images/envato.png").
    .sponsor-img.anim_top
      img(src="images/wordpress.png").
    .sponsor-img.anim_bottom
      img(src="images/tuts+.png").
    .sponsor-img.anim_right
      img(src="images/microlancer-copy.png").