@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

body {
  background: url('../images/bg.png') no-repeat center top;
  background-size: 100%;
}

.head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 25;
  border-bottom: 1px solid rgba(254, 254, 254, 0.3);
      -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
  &.head_fixed {
    padding: 10px 0;
    position: fixed;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=13, Direction=0, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 0 0 13px 13px rgba(0,0,0,0.6);/*FF 3.5+*/
    -webkit-box-shadow: 0 0 13px 13px rgba(0,0,0,0.6);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 13px 13px rgba(0,0,0,0.6);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=13, Direction=135, Color=#000000); /*IE 5.5-7*/
    background: #fff;
    .head-logo img {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
    .head-menu li {
      color: #191919;
      &:hover {
        color: #35deb3;
      }
      &:before {
        bottom: -25px;
        background: #35deb3;
      }
      &.reg {
        a {
          color: #191919;
        }
      }
    }
  }
}

.head-logo {
  float: left;
  max-width: 149px;
  img {
    width: 100%;
  }
}

.head-menu {
  float: right;
  max-width: 940px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 15px;
  li {
    float: left;
    padding: 0 15px;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 13.87px;
    font-weight: 400;
    line-height: 1;
    position: relative;
    cursor: pointer;
    &:hover {
      &:before {
        display: block;
      }
    }
    &:before {
      content: "";
      display: none;
      background: #f8d64f;
      height: 1px;
      position: absolute;
      bottom: -34px;
      left: 0;
      width: 100%;
    }
    &.reg {
      margin-top: -9.5px;
      a {
        font-family: Roboto;
        color:  #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 32px;
        padding: 19px 19px 17px;
        text-transform: uppercase;
        border: 1px solid #35deb3;
        &:hover {
          background: #35deb3;
          text-decoration: none;
        }
      }
      &:hover {
        &:before {
          display: none;
        }
      }
    }
  }
}

.top_block {
  padding-top: 255px;
  padding-bottom: 85px;
  text-align: center;
  position: relative;
}

.top_block-logo {
  img {
    max-width: 234px;
    width: 100%;
  }
  margin-bottom: 23px;
}

.head-title {
  max-width: 850px;
  margin: 0 auto;
  h1 {
    font-family: GothamProB;
    color:  #ffffff;
    font-size: 39.62px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 1;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin: 0 auto 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    span {
      color:  #f8d64f;
    }
  }
  h3 {
    font-family: Roboto;
    color:  #ffffff;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin: 0;
  }
}

.btn-order {
  font-family: Roboto;
  color:  #ffffff;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 1;
  background: rgba(0, 0, 0, 0);
  padding: 20px 23px;
  display: inline-block;
  vertical-align: top;
  margin: 0 15.5px;
  border: 1px solid #f6d635;
  cursor: pointer;
      -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
  &:hover {
    color: #191919;
    background: -webkit-linear-gradient(-90deg, #fcf454 0%, #f7dd3d 64%, #f6d635 100%);
    background: -moz-linear-gradient(-90deg, #fcf454 0%, #f7dd3d 64%, #f6d635 100%);
    background: -o-linear-gradient(-90deg, #fcf454 0%, #f7dd3d 64%, #f6d635 100%);
    background: -ms-linear-gradient(-90deg, #fcf454 0%, #f7dd3d 64%, #f6d635 100%);
    background: linear-gradient(180deg, #fcf454 0%, #f7dd3d 64%, #f6d635 100%);
  }
  &.full-bg {
    color: #191919;
    background: -webkit-linear-gradient(-90deg, #fcf454 0%, #f7dd3d 64%, #f6d635 100%);
    background: -moz-linear-gradient(-90deg, #fcf454 0%, #f7dd3d 64%, #f6d635 100%);
    background: -o-linear-gradient(-90deg, #fcf454 0%, #f7dd3d 64%, #f6d635 100%);
    background: -ms-linear-gradient(-90deg, #fcf454 0%, #f7dd3d 64%, #f6d635 100%);
    background: linear-gradient(180deg, #fcf454 0%, #f7dd3d 64%, #f6d635 100%);
    &:hover {
      background: rgba(0, 0, 0, 0);
      color: #fff;
    }
  }
}

.btn-group {
  max-width: 841px;
  position: relative;
  margin: 46px auto 100px;
  &:before {
    content: "";
    background: url('../images/line1.png') no-repeat;
    width: 223px;
    height: 310px;
    position: absolute;
    right: -100px;
    top: -25px;
  }
}

.scroll-next {
  background: url('../images/scroll.png') no-repeat;
  width: 34px;
  height: 34px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -17px;
  cursor: pointer;
}

.art_lab {
  text-align: center;
  padding: 85px 0;
  &.lab {
    text-align: left;
    padding-top: 35px;
  }
}

.lend-title {
  font-family: GothamProB;
color:  #ffffff;
font-size: 39.62px;/* Приближение из-за подстановки шрифтов */
font-weight: 900;
line-height: 1;/* Приближение из-за подстановки шрифтов */
text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 auto 22px;
  position: relative;
  padding-top: 20px;
  text-align: center;
  &:before {
    content: "";
    background-color:  #f8d54f;
    width: 56px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -28px;
  }
  span {
    color: #f8d64f;
  }
}

.col-lg-4:hover {
  .art_lab-img {
      -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;

  }
}
.art_lab-img {
    -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.art_lab-info {
  font-family: Roboto;
color:  #ffffff;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 20px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}

.line2 {
  position: relative;
  margin-bottom: 69px;
  &:after {
    content: "";
    background: url('../images/line2.png') no-repeat;
    width: 97px;
    height: 218px;
    position: absolute;
    top: 90px;
    left: 45%;
    margin-left: -48.5px;
  }
}

.lab-info {
  font-family: Roboto;
color:  #ffffff;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 20px;/* Приближение из-за подстановки шрифтов */
text-align: left;
}

.lab-img {
  min-height: 96px;
  margin-bottom: 16px;
}

.art_lab-box {
  h5 {
    font-family: GothamProB;
    color:  #ffffff;
    font-size: 29.72px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 1;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-bottom: 21px;
    text-transform: uppercase;
    margin-top: 10px;
  }
  p {
    min-height: 167px;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 25px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    max-width: 350px;
    margin: 0 auto 36px;
  }
}

.order-btn {
  font-family: Roboto;
  color:  #ffffff;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 1;/* Приближение из-за подстановки шрифтов */
  text-transform: uppercase;
  padding: 23px 0 22px;
  text-align: center;
  display: inline-block;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #f8d64f;
  max-width: 209px;
  width: 100%;
  cursor: pointer;
  &.green {
    border-color:  #35deb3;
    &:hover {
      background:  #35deb3;
    }
  }
  &:hover {
    background: #f8d64f;
  }
}

.line3 {
  position: relative;
  &:before {
    content: "";
    background: url('../images/line3.png') no-repeat;
    width: 142px;
    height: 273px;
    position: absolute;
    bottom: 150px;
    right: 1px;
  }
}

.line4 {
  position: relative;
  margin-bottom: 18px;
  &:after {
    content: "";
    background: url('../images/line4.png') no-repeat;
    width: 97px;
    height: 349px;
    position: absolute;
    top: 54px;
    left: 15%;
  }
}

.lend-info {
  font-family: Roboto;
  color:  #ffffff;
  font-size: 22px;/* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 32px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  margin-bottom: 52px;
}

.lab-box {
  
}
