@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

.head {
  background: url(../images/bg.jpg) no-repeat right top;
  background-color: #cacaca;
  position: relative;
  padding: 200px 0 60px;
  .overl {
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
  }
  img {
    max-width: 150px;
    border-radius: 50%;
  }
}

.head-title {
  color: #fff;
  max-width: 800px;
  font-size: 48px;
  line-height: 1;
  margin: 10px auto 0;
  text-align: center;
  margin-bottom: 20px;
  &.black {
    color: black;
  }
}

.top-menu {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
      -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
  z-index: 25;
  &.header_fixed {
    padding: 5px;
    background: #fff;
    .menu-item {
      .menu-link {
        color: #ccccba;
        font-weight: bold;
        &:hover {
          color: #000;
        }
      }
    }
  }
}

.top-logo {
  float: left;
  img {
    max-width: 160px;
  }
}

.menu {
  list-style: none;
  padding: 12px 0 0;
  margin: 0;
  float: right;
  
}

.menu-item {
  display: inline-block;
  margin: 0 10px;
  .menu-link {
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    color: #ccc;
    text-decoration: none;
        -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  
}

.owl-carousel {
  .itf-images {
    text-align: center;
    img {
      max-width: 200px;
      border-radius: 50%;
      margin: 0 auto;
    }
  }
  .itf-box {
    text-align: center;
    max-width: 300px;
    margin: 10px auto 0;
    h4 {
      font-size: 18px;
      line-height: 1;
    }
    p {
      font-size: 16px;
      line-height: 1;
    }
    span {
      font-size: 15px;
      line-height: 1;
    }
    
  }
}



.itf {
  background: url('../images/IMG_42009.jpg') no-repeat left center;
  padding: 60px 0;
  background-size: 100%;
}

.itf-title {
  font-size: 24px;
  line-height: 1;
}

.video {
  padding: 60px 0;
  text-align: center;
  background: url(../images/background.png) no-repeat top right;
  
  .iframe-box {
    max-width: 350px;
    margin: 0 auto;
  }
}

.video-title {
  font-size: 36px;
  line-height: 1;
  margin-bottom: 30px;
}

.footer {
  background: #000;
  padding: 30px 0;
}

.footer-box {
  color: #fff;
  h5 {
    font-size: 18px;
    line-height: 1;
  }
  span {
    display: block;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
    a {
      color: #fff;
      display: inline-block;
    }
  }
}

.footer-soc {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  li {
    display: inline-block;
    margin: 0 5px;
    a {
      display: block;
      width: 30px;
      height: 30px;

      &.vk {
        background: url(../images/icon_vkk.png) no-repeat;
        background-size: 100%;
    
      }
      &.ok {
        background: url(../images/ok.png) no-repeat;
        background-size: 100%;

      
      }
    }
  }
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

.registr-link {
  font-size: 15px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  color: #FFF;
  background: #1071ea;
  text-align: center;
  border: 1px solid #1071ea;
  cursor: pointer;
      -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
  &:hover {
    text-decoration: none;
    color: #1071ea;
    background: transparent;
  }
}

.history {
  background: url(../images/another-rough-old-and-worn-parchment-paper.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 60px;
}

.history-img {
  text-align: center;
}

.history-content {
  text-align: justify;
  color: #000;
  ul {
    list-style: none;
    li {
      margin-bottom: 10px;
    }
  }
}

.measures {
  padding: 70px 0 60px;
  background: url(../images/Karate_stance.jpg) no-repeat right top;
  background-size: auto;
  background-color: #000;
  text-align: center;
  h3 {
    color: #fff;
  }
}

.schedule {
  padding: 60px 0;
background: -moz-radial-gradient(50% 50%, circle cover, #ffffff 0, #E3E4EC 100%);/* FF3.6+ */
background: -webkit-radial-gradient(50% 50%, circle cover, #ffffff 0, #E3E4EC 100%);/* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(50% 50%, circle cover, #ffffff 0, #E3E4EC 100%);/* Opera 11.10+ */
background: -ms-radial-gradient(50% 50%, circle cover, #ffffff 0, #E3E4EC 100%);/* IE10+ */
background: radial-gradient(50% 50%, circle cover, #ffffff 0, #E3E4EC 100%);/* W3C */
  background-size: cover;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    li {
      color: #000;
      margin-bottom: 10px;
      
    }
  }
}

.schedule-title {
  max-width: 700px;
  margin: 0 auto 20px;
  text-align: center;
  color: #000;
  font-size: 24px;
  line-height: 1;
}

.schedule-info {
  font-size: 18px;
  text-align: left;
  color: #000;
}

.photo-img {
  max-width: 350px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  img {
    width: 100%;
  }
}

.meeting {
  padding: 80px 0 60px;
  background: #222;
}
.modal {
  position: fixed;
  z-index: 1050; 
  display: none;
  overflow: hidden;
  outline: 0;
  opacity: 0;
      background-color: #3b6fa9;
    border-radius: 10px;
  text-align: center;
  top: 50%;
   left: 50%;
   width: 50%;
   max-width: 380px;
   min-width: 300px;
   height: auto;
   backface-visibility: hidden;
   transform: translateX(-50%) translateY(-50%);
  transition: all 0.3s;
   -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  .modal-content {
    overflow: hidden;
    padding: 20px;
    text-align: left;
    height: auto;
  }
}

.modal-btn {
  cursor: pointer;
}

.modal-head {
  padding: 5px;
  position: relative;
}
.close-m {
  background: url(../images/close.png)no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  &:hover {
 -webkit-filter: invert(80%);
  -moz-filter: invert(80%);
  -o-filter: invert(80%);
  -ms-filter: invert(80%);
  }
}
.overl-h {
  overflow: hidden;
}

.input-text, .textarea {
 display: block;
  min-height: 40px;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #000;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.registration {
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: #000;
  opacity: 0.8;
  z-index: 1000;
}
.registr-btn {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: #000;
  min-height: 40px;
  cursor: pointer;
  &:hover {
    background: transparent;
    color: #fff;
  }
}

.contact {
  padding: 100px 0;
  text-align: center;
  background: #222;
  h4 {
    min-height: 60px;
    vertical-align: bottom;
    color: #fff;
  }
  iframe {
    margin-bottom: 30px;
  }
}
