@font-face {
    font-family: "LeagueGothic";
    src: url("../fonts/LeagueGothicRegular.eot");
    src: url("../fonts/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LeagueGothicRegular.woff") format("woff"),
    url("../fonts/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}